* {
    box-sizing: border-box;
}
ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: 'Heebo';
}
[class*="__container"] {
    max-width: 950px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper {
}
/* header start */



.header {
}
.header__container {
    display: flex;
    justify-content: flex-end;
    min-height: 74px;
}
.header__menu {
}
.menu {
}
.menu__item {
    display: flex;
    gap: 24px;
}
.menu__list {
}
.menu__link {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.menu__link:hover {
    text-decoration: underline;
}
/* Header end */



/* Block info start */

.block_info {
}
.block__container {
    padding-top: 102px;
    display: flex;
    justify-content: space-between;
}
.block-info-title {
    position: relative;
}
.block-title-1 {
    max-width: 440px;
    max-height: 105px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.block-title-2 {
    max-width: 500px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}
.block-info_image {
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    width: 243px;
    height: 243px;
}
.block-image {
}
.block-btn {
    padding-top: 15px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF6464;
    border-radius: 4px;
    min-width: 208px;
    height: 47px;
    border: 0;
    outline: 0;
    transition:  .4s ease-in-out;
}
.btn:hover {
    background-color: #f74c4c;
}
/* Block info end */





/* About start */
.about {
    padding-top: 85px;
}
.about__container {
}
.about__title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.about__title-text {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}
.about__title-link {
    padding-right: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;

}
.about__cards {
    display: flex;
    margin-left: 15px;
}
.about_card {
    margin-right: 100px;
}
.card__title {
}
.card__title-text {
    font-family: 'Heebo';
    max-width: 350px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;

}
.card__title-date {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.card__title-date span {
    margin: 20px 20px;
}
.card__title-description {
    max-width: 360px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}


/* About end */

/* Featured start */
.featured {
    margin-top: 100px;
}
.featured__container {
}
.featured__block-info {
}
.featured__info {
}
.featured__top {
}
.featured-title-top {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;

}
.featured__title {
    margin-bottom: 15px;
    margin-top: -25px;
    padding-left: 270px;
}
.featured-title-text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.featured-date {
    position: relative;
    margin-top: -35px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.featured-date span {
    padding: 2px 12px 2px 12px;
    margin-right: 20px;
    font-family: 'Heebo';
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
}
.featured-desc {
    max-width: 554px;
    margin-top: -10px;
    height: 93px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}
.featured-img {
    width: 246px;
    height: 180px;
}
/* Featured end */

/* Footer start */

.footer {
    margin-top: 130px;
}
.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer__info {
}
.footer__images {
}
.footer-img {
    margin-left: 20px;
}
.footer__title {
}
.footer-title-text {
}

/* Footer end */